@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p>Welcome to Ascension Gaming! Here you can find a wide range (not really) of video 
    games that you can rent out! Click on the Collection tab to checkout the games we have
    in stock. 
    </p>
</div>
