@model IEnumerable<VideoGame>
@{
    ViewData["Title"] = "Game Collection";
}

<div>
    <h2 class="text-center">Collection (@Model.Count())</h2>
    <div class="videogame-collection">
        @if (Model == null)
        {
            <h1>No Games Provided</h1>
        }
        else
        {
            foreach (var videogame in Model)
            {
                <partial name="_VideoGame.cshtml" for="@videogame" />
            }
        }
    </div>


    <div class="modal fade" id="rentModal" tabindex="-1" aria-labelledby="rentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rentModalLabel">Rent A Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-controller="Collection" asp-action="RentGame" method="post">
                    <div class="modal-body">
                        <h5 class="modal-game-title"></h5>
                        <p>Please enter your name to rent this game:</p>
                        <input type="hidden" name="gameid" id="gameid"/>
                        <input type="text" id="renterName" name="renterName" placeholder="Name" required/>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-purple">Rent</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>